<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Menu Gốc -->
        <menuitem name="Education" sequence="30" id="education_menu_root" />

        <!-- Menu Con -->
        <!-- Students -->
        <menuitem id="education_student_menu" 
                  name="Students" 
                  parent="education_menu_root" 
                  sequence="10" />

        <menuitem id="education_student_profile" 
                  name="Profile" 
                  parent="education_student_menu" 
                  action="education_student_action" 
                  sequence="10" />

        <!-- Class Groups -->
        <menuitem id="education_class_group_menu" 
                  name="Class Groups" 
                  parent="education_menu_root" 
                  sequence="20" />

        <menuitem id="menu_education_class_group" 
                  name="Class Group Management" 
                  parent="education_class_group_menu" 
                  action="education_class_group_action" 
                  sequence="10" />

        <!-- Classes -->
        <menuitem id="education_class_menu" 
                  name="Classes" 
                  parent="education_menu_root" 
                  action="education_class_action" 
                  sequence="30" />
        <menuitem id="menu_education_school" name="Schools" parent="education_menu_root" action="action_education_school" sequence="10"/>


        <menuitem id="menu_education_class_schedule" name="Class Schedules" parent="education_menu_root" sequence='10' action="action_education_class_schedule"/>

        <menuitem id="menu_education_admission_report" name="Addmission" parent="education_menu_root" sequence='10' action="action_education_admission_report"/>
        
        
        <menuitem id="menu_education_todolist_action" name="TodoList" parent="education_student_menu" sequence='10' action="action_education_student_todolist"/>
        <menuitem id="menu_education_todolist_action_js" name="TodoList OWL" parent="education_student_menu" sequence='10' action="action_education_student_todolist_js"/>
    </data>
</odoo>
